<h1>List of Users</h1>
<p>This page won't exist once we're up and running, but it's here for the time being.</p>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">




      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<ul>
<% @users.each do |user| %>
    <li><%= user.email %></li>
    <li><%= user.id %></li>
    <li><%= link_to "edit", edit_user_path(user) %></li>
    <li><%= link_to "delete", user, method: :delete %></li>
    <hr>
    <% end %>
</ul>

<%= link_to "sign up", signup_path %>