<!DOCTYPE html>
<html>
<head>
  <%= typekit 'ruq7dqb' %>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Epitome</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
Currently logged in as <%= current_user.email %> <%= link_to "logout", logout_path %>
<% else %>
Logged out, mofo
<% end %>





<%= yield %>

</body>
</html>
